@model thimau.Models.Sinhvien

@{
    ViewBag.Title = "Xem chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xem chi tiết</h2>

<div style="display: flex; align-items: center;">
    <div style="flex: 0 0 100px; margin-right: 20px;">
        <img src="@Url.Content("~/img/" + Model.Anhsv)" alt="Hình ảnh" style="width: 100px; height: 100px" />
    </div>

    <div>
        <h2>Thông tin chi tiết</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Mã số sinh viên
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Masv)
            </dd>
            <dt>
                Họ sinh viên
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Hosv)
            </dd>

            <dt>
                Tên sinh viên
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tensv)
            </dd>

            <dt>
                Ngày sinh
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ngaysinh)
            </dd>

            <dt>
                Giới tính
            </dt>
            <dd>
                @{
                    bool gtinh = Model.Gioitinh ?? false;
                    string gioiTinhText = gtinh ? "Nam" : "Nữ";
                }
                @gioiTinhText
            </dd>

            <dt>
                Địa chỉ
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Diachi)
            </dd>

            <dt>
                Tên lớp
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Lop.Tenlop)
            </dd>
        </dl>
    </div>
</div>