@model IEnumerable<thimau.Models.Sinhvien>

@{
    ViewData["Title"] = "Sinhvien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Giới thiệu", "Gioithieu") | @Html.ActionLink("Thêm mới", "Create") |
    @Html.ActionLink("Danh sách", "Index") |  @Html.ActionLink("Tìm kiếm", "timkiem_mssv")
</p>
<h2>Sinh viên</h2>
<p>
    @Html.ActionLink("Thêm sinh viên", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã SV
            </th>
            <th>
                Họ
            </th>
            <th>
                Tên
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Ảnh sinh viên
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Lớp
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Masv
                    </td>
                    <td>
                        @item.Hosv
                    </td>
                    <td>
                        @item.Tensv
                    </td>
                    <td>
                        @item.Ngaysinh
                    </td>
                    <td>
                        @{
                            bool gtinh = item.Gioitinh ?? false;
                            string gioiTinhText = gtinh ? "Nam" : "Nữ";
                        }
                        @gioiTinhText
                    </td>
                    <td>
                        <img src="@Url.Content("~/img/" + item.Anhsv)" alt="Hình ảnh" style="width: 100px; height: 100px" />
                    </td>
                    <td>
                        @item.Diachi
                    </td>
                    <td>
                        @item.Lop.Tenlop
                    </td>
                    <td>
                        @Html.ActionLink("Xem chi tiết", "Details", new { id = item.Masv })
                    </td>
                </tr>
            }
        }

    </tbody>
</table>