@model IEnumerable<thimau.Models.Sinhvien>
@{
    ViewBag.Title = "Tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int pageSize = 2; // Số lượng dòng trên mỗi trang
    int totalItems = Model.Count(); // Tổng số dòng
    int totalPages = (int)Math.Ceiling((double)totalItems / pageSize); // Tổng số trang

    int currentPage = (Request.QueryString["page"] != null) ? Convert.ToInt32(Request.QueryString["page"]) : 1; // Trang hiện tại

    // Lấy danh sách dòng cho trang hiện tại
    var pagedItems = Model.Skip((currentPage - 1) * pageSize).Take(pageSize);
}

<style>
    .input-pair {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3px;
    }

    .input-top {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3px;
    }

    .input-pair input {
        margin-left: 42px; /* Khoảng cách giữa mã sinh viên và ô input */
    }

    .button-container button {
        margin-right: 10px
    }
</style>
<p>
    @Html.ActionLink("Giới thiệu", "Gioithieu") | @Html.ActionLink("Thêm mới", "Create") |
    @Html.ActionLink("Danh sách", "Index") |  @Html.ActionLink("Tìm kiếm", "timkiem_mssv")
</p>
<div class="row mt-2">
    <div class="col-md-12">
        <form method="post" action="@Url.Action("timkiem_mssv", "Sinhviens")">
            @Html.AntiForgeryToken()

            <div class="input-top ">
                <label for="filter">Mã sinh viên</label>
                <input type="text" class="form-control" name="filter" placeholder="Nhập mã SV" />
            </div>

            <div class="input-pair">
                <label for="filterName">Họ tên</label>
                <input type="text" class="form-control mx-3" name="filterName" placeholder="Nhập họ và tên" />
            </div>

            <div class="button-container text-center">
                <button class="btn btn-success " type="submit">Tìm kiếm</button>
                <button class="btn btn-secondary">
                    <a href="@Url.Action("Create", "Sinhviens")" class="btn-link">Tạo mới</a>
                </button>
            </div>
        </form>
        
    </div>
</div>
<h2 class="text-center">DANH SÁCH SINH VIÊN</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Mã SV
            </th>
            <th>
                Họ
            </th>
            <th>
                Tên
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Ảnh sinh viên
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Lớp
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            int index = 1 + (currentPage - 1) * pageSize;
            foreach (var item in pagedItems)
            {
                <tr>
                    <td>
                        @index
                    </td>
                    <td>
                        @item.Masv
                    </td>
                    <td>
                        @item.Hosv
                    </td>
                    <td>
                        @item.Tensv
                    </td>
                    <td>
                        @item.Ngaysinh
                    </td>
                    <td>
                        @{
                            bool gtinh = item.Gioitinh ?? false;
                            string gioiTinhText = gtinh ? "Nam" : "Nữ";
                        }
                        @gioiTinhText
                    </td>
                    <td>
                        <img src="@Url.Content("~/img/" + item.Anhsv)" alt="Hình ảnh" style="width: 100px; height: 100px" />
                    </td>
                    <td>
                        @item.Diachi
                    </td>
                    <td>
                        @item.Lop.Tenlop
                    </td>
                    <td>
                        @Html.ActionLink("Xem chi tiết", "Details", new { id = item.Masv })
                    </td>
                </tr>
                index++;
            }
        }

    </tbody>
</table>

<div class="pagination-container">
    <ul class="pagination">
        @for (int page = 1; page <= totalPages; page++)
        {
            <li class="page-item @(page == currentPage ? "active" : "")">
                <a class="page-link" href="?page=@page">@page</a>
            </li>
        }
    </ul>
</div>
<style>
    .pagination-container {
        display: flex;
        justify-content: center;
    }
</style>